<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>chap17</display-name>
<!-- 주석..... -->
	<servlet>
		<servlet-name>xxxx<!-- 어딘가에 연동할 때 사용 --></servlet-name>
		<servlet-class>t.t.t.QQQ<!-- 어딘가에 연동할 때 사용 --></servlet-class>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>SCOTT</param-value>
		</init-param>
		<init-param>
			<param-name>dbPW</param-name>
			<param-value>TIGER</param-value>			
		</init-param>
		
		
		
		<load-on-startup>1</load-on-startup>
		<!-- load-on-startup 위치가 중요 -->
		
		
	</servlet>
	<servlet-mapping>
		<servlet-name>xxxx<!-- xxxx라는 서블릿은 위를 참조하겠다. --></servlet-name>
		<url-pattern>/test</url-pattern>
		<!-- 위 명령어가 날라오면 반응을 해야겠다고 인지 -->	
	</servlet-mapping>
	
	
</web-app>